@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.8s ease-out;
  }
}

@layer components {
  .prose {
    @apply space-y-4;
  }

  .prose p {
    @apply leading-relaxed;
  }

  .prose strong {
    @apply font-bold text-[#273444];
  }
}
